.list__item {
  max-width: 100%;
  width: 22.2222em;
  height: 3.1111em;
  cursor: pointer;
  padding: 0 18px;
  font-size: 1.125em;
  box-sizing: border-box;
  margin-bottom: 1.3222em;
  border-radius: 0.6667em;
  color: hsla(236.8, 54.4%, 59.6%, .8);
  border: .1111em solid hsla(236.8, 54.4%, 59.6%, .7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .4s;
}

.list__item:first-child {
  margin-bottom: 1.3889em;
}

.list__item:last-child {
  margin-bottom: 0;
}

.list__item:hover {
  color: white;
  border-color: #F9A826;
  background-color: #F9A826;
}

.answer--delay {
  color: white;
  background-color: green;
  transition-delay: .8s;
  transition-duration: .2s;
}

.answer--correct, .answer--correct:hover {
  color: white;
  border-color: green;
  background-color: green;
  animation: .8s blinkedCorrectBg linear 1 forwards;
}

@keyframes blinkedCorrectBg {
  0%, 40%, 80% {
    color: hsla(236.8, 54.4%, 59.6%, .8);
    background-color: white;
  }
  20%, 60%, 90% {
    color: white;
    background-color: #F9A826;
  }
  100% {
    color: white;
    border-color: green;
    background-color: green;
  }
}

.answer--wrong, .answer--wrong:hover {
  color: white;
  animation: .8s blinkedWrongBg linear 1 forwards;
}

@keyframes blinkedWrongBg {
  0%, 40%, 80% {
    color: hsla(236.8, 54.4%, 59.6%, .8);
    background-color: white;
  }
  20%, 60%, 90% {
    color: white;
    background-color: #F9A826;
  }
  100% {
    color: white;
    border-color: red;
    background-color: red;
  }
}

.option {
  line-height: 2.223em;
  width: 1.3888em;
  height: 1.3888em;
}

.option__img {
  display: none;
  height: 1.3888em;
  width: 1.3888em;
}
