.list__item {
  width: 22.2222em;
  height: 3.1111em;
  cursor: pointer;
  font-size: 1.125em;
  line-height: 3.1111em;
  margin-bottom: 1.7222em;
  border-radius: 0.6667em;
  color: hsla(236.8, 54.4%, 59.6%, .8);
  border: .1111em solid hsla(236.8, 54.4%, 59.6%, .7);
}

.list__item:first-child {
  margin-bottom: 1.3889em;
}

.list__item:last-child {
  margin-bottom: 0;
}

.list__item:hover {
  color: white;
  border-color: #F9A826;
  background-color: #F9A826;
}
