.modal {
  padding: 4.25em 2em 3em;
  text-align: center;
  border-radius: 1.5em;
  box-sizing: border-box;
  position: relative;
  background-color: white;
  min-height: 20.5625em;
  max-height: 35em;
}

.modal > h3 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: 0.3334em;
  text-align: justify;
  color: hsl(212,44.7%,33.3%);
}

.modal__img {
  position: absolute;
  right: 0;
  top: -4.6875em;
}

.modal__button {
  width: 7.25em;
  height: 3.2778em;
  border: none;
  color:white;
  cursor: pointer;
  font-size: 1.125em;
  font-weight: 700;
  margin-top: 1.5em;
  border-radius: .75em;
  background-color: #F9A826;
  padding: 0;
  animation: 3s ease-out shadow forwards 1;
}

@keyframes shadow {
  form { box-shadow: none;}
  to { box-shadow: inset 8em 0 hsla(0, 0%, 40%, .3);}
}
