.modal {
  padding: 4.25em 2em 3em;
  text-align: center;
  border-radius: 1.5em;
  box-sizing: border-box;
  position: relative;
  background-color: white;
}

.modal > h3 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: 1.3334em;
  text-align: justify;
  color: hsl(212,44.7%,33.3%);
}

img {
  position: absolute;
  right: 0;
  top: -4.6875em;
}
