.modal {
  padding: 3.45em 2em 2em;
  text-align: center;
  border-radius: 1.5em;
  box-sizing: border-box;
  position: relative;
  background-color: white;
}

.moda--flag {
  padding: 2.15em 2em 2em;
}

.modal__img {
  position: absolute;
  right: 0;
  top: -4.6875em;
}

.modal__button {
  width: 7.25em;
  height: 3.2778em;
  border: none;
  color:white;
  cursor: pointer;
  font-size: 1.125em;
  font-weight: 700;
  margin-top: 1.5em;
  border-radius: .75em;
  background-color: #F9A826;
  padding: 0;
  animation: 3s ease-out shadow forwards 1;
}

@keyframes shadow {
  form { box-shadow: none;}
  to { box-shadow: inset 8em 0 hsla(0, 0%, 40%, .3);}
}

@media screen and (width <= 450px) {
  .app__container {
    padding: 1em 0;
  }

  h1 {
    font-size: 1.6778em;
  }

  .modal__img {
    top: -2.687em;
    width: 7.2222em;
  }

  .quiz {
    text-align: left;
    font-size: 1.3em;
  }

  .spinner {
    width: 4em;
    height: 4em;
    border-width: 10px;
  }
}
