.app__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.App {
  width: 25.778em;
  height: min-content;
  position: relative;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  color: white;
  font-weight: 700;
}
