.app__container {
  display: flex;
  padding: 2em 0;
  min-height: 100vh;
  position: relative;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  background-size: cover;
  background-clip: padding-box;
}

.App {
  width: 25.778em;
  max-width: 90vw;
  height: min-content;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(94vh - 90px);
}

h1 {
  margin: 0;
  color: white;
  font-weight: 700;
}

.footer {
  height: 50px;
  color: white;
  font-size: .9em;
  margin-top: 10px;
  box-sizing: border-box;
}

.footer > p {
  margin: 0
}

.footer > p:first-child {
  margin: 0 0 5px;
}

.footer > p > a {
  color: hsla(236.8, 70%, 29%, 1);
  font-weight: bold;
  text-decoration: underline wavy white;
  transition: .5s background;
}

.footer > p > a:hover {
  /* color: blue; */
  background-color: white;
  text-decoration: none;
  border-radius: 2.5px;;
}
