.app__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  width: 34.3449vw;
  height: 76.523vh;
  position: relative;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  color: white;
  font-weight: 700;
}

.quiz__modal {
  padding: 4.25em 2em;
  text-align: center;
  border-radius: 1.5em;
  box-sizing: border-box;
  position: relative;
  background-color: white;
}

h3 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: 1.3334em;
  text-align: justify;
  color: hsl(212,44.7%,33.3%);
}

.quiz__modal > ul {
  margin: 0;
  padding: 0;
  font-weight: 500;
  list-style-type: none;
  box-sizing: border-box;
}

.quiz__modal ul li {
  width: 22.2222em;
  height: 3.1111em;
  cursor: pointer;
  font-size: 1.125em;
  line-height: 3.1111em;
  margin-bottom: 1.7222em;
  border-radius: 0.6667em;
  color: hsla(236.8, 54.4%, 59.6%, .8);
  border: .1111em solid hsla(236.8, 54.4%, 59.6%, .7);
}

.quiz__modal ul li:first-child {
  margin-bottom: 1.3889em;
}

.quiz__modal ul li:last-child {
  margin-bottom: 0;
}

.quiz__modal ul li:hover {
  color: white;
  border-color: #F9A826;
  background-color: #F9A826;
}

.quiz__img {
  position: absolute;
  right: 0;
  top: -4.6875em;
}
