.app__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  width: 34.3449vw;
  height: 76.523vh;
  position: relative;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  color: white;
}

.quiz__modal {
  padding: 68px 32px;
  text-align: center;
  border-radius: 24px;
  box-sizing: border-box;
  background-color: white;
}

h3 {
  margin: 0;
  margin-bottom: 32px;
  text-align: justify;
}

.quiz__modal > ul {
  margin: 0;
  padding: 0;
}

.quiz__modal ul li {
  /*height: 56px;*/
  margin-bottom: 31px
}

.quiz__modal ul li:first-child {
  margin-bottom: 25px;
}
